<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.eulerlcs.study.mybatis3.get03.dao.TeacherMapper">

    <resultMap id="teacherStudent" type="Teacher">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <collection property="studentList" ofType="Student">
            <result column="sid" property="id"/>
            <result column="sname" property="name"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="teacherStudent">
        SELECT
        t.id, t.name, t.email, s.id AS sid, s.name AS sname
        FROM
        teacher AS t LEFT JOIN
        student s ON t.id = s.tid
    </select>

    <resultMap id="teacherStudent2" type="Teacher">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <collection property="studentList" column="id" ofType="Student" javaType="ArrayList" select="selectStudentByPK">
        </collection>
    </resultMap>

    <select id="selectStudentByPK" resultType="Student">
        select * from student where tid = #{id}
    </select>

    <select id="selectByPK" resultMap="teacherStudent2">
        SELECT
        *
        FROM
        teacher
        where id = #{id}
    </select>
</mapper>